<!DOCTYPE html>
<html>
<head>
  <title>Zemellow</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron hero-banner">
  <div class="container">
    <h1 class="hero hero-title"><%= link_to 'Zemmie', root_path() %></h1>
    <p class="hero hero-subtitle">the mellow mango</p>
  </div>
</div>

<div class="container content">

<%= yield %>

</div>

</body>
</html>
